version: '3.5'

services:
  saldo-backend:
    build:
      dockerfile: Dockerfile-server
      context: .
    ports:
      - "3001:3001"
      - "3033:3033"
    environment:
      NODE_ENV: development
    volumes:
      - ./server:/home/app/appDir/server
      - ./node_modules:/home/app/appDir/node_modules
      - ./package.json:/home/app/appDir/package.json
    environment:
      - NODE_ENV=development
      - MONGO_URI=mongodb://mongo/saldo-app
      - SECRET=correcthorsebatterystaple
      - GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
    networks:
      - backend
    command: npm run-script dev:run-backend

  saldo-frontend:
    build:
      dockerfile: Dockerfile-client
      context: .
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
    volumes:
      - ./client:/home/app/appDir/client
      - ./package.json:/home/app/appDir/package.json
      - ./vite.config.ts:/home/app/appDir/vite.config.ts
      - ./types:/home/app/appDir/types
      - ./node_modules:/home/app/appDir/node_modules
    environment:
      - NODE_ENV=development
    networks:
      - backend
    command: npm run docker:start
    
  mongo:
    image: 'mongo'
    restart: always
    ports:
      - '27017-27019:27017-27019'
    networks:
      - backend
    logging:
      driver: 'none'
 
networks:
  backend:
