
.purchase-creator-container {
    
  }

  .sub-dialog {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1F1D2B;
    z-index: 5;
  }

  .top-bar {
      position: absolute;
      top: 0;
      left: 0;
      height: 60px;
      display: flex;
      align-items: center;
      width: 100vw;
      svg {
          margin: 0 1em;
      }
      box-shadow: 1em;
  }

  .payer-selector {
      display: flex;
      align-items: center;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      label {
          width: auto;
          padding: 0 0.5em;
      }
  }

  .purchaseSelectorList {
    min-height: 50%;
    max-height: 50%;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-top: 2em;
    padding-right: 0.5em;
    position: relative;
    transition: all 0.25s ease-in;
  }

  .form-container {
      padding-top: 60px;
      height: 50%;
  }

  .confirm-dialog-container {
    display: flex;
    flex-direction: column;
    padding-top: 30%;
    text-align: left;

    .header {
        padding-left: 20%;
        font-size: 32px;
        margin-bottom: 1em;
    }
    .label {
        padding-left: 20%;
        font-variant: small-caps;
    }
    .value {
        padding-left: 20%;
        font-size: 32px;
    }
    .value-container {
    }
    .buttonContainer {

        display: flex;
        padding: 2em 2em;
        button {
            flex-grow: 1;
            height: 50px;
        }
    }
  }

  .loadingDialog {
    padding-top: 50%;
    text-align: center;
    font-size: 32px;
    div {
        margin-bottom: 1em;
    }
  }